
body{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color: #2061CB;

}

h1{
   
   margin: auto;
   width: 50%;
   background-color: white;
   display: flex;
   justify-content: center;
   height: 70px;
   margin-top: 20px;
}

.main{

    margin: auto;
    width: 50%;
    height: 80vh;
    margin-top: 10px;
    background-color: white;
    /* display: flex; */
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;


}

a{

text-decoration: none;
color: black;
margin-left: 90px;


}

.getingData{
    text-align: center;
    background-color: rgb(207, 205, 64); 
    padding: 40px;
    height: 100%;
    overflow: auto;
    overflow-y: scroll;
}

.getingData::-webkit-scrollbar{

display: none;

}


input[type="text"]{

    margin: 10px auto; 
    text-align: center; 
    height: 30px; 
    width: 92%; 
    font-size: 20px; 
}

#butn{

    height: 36px; 
    width: 40px; 
    margin-top: 9px; 
    border: 0; 
    background-color: darkcyan; 
    cursor: pointer;
    border-radius: 5px;
    margin: 0px;
    padding: 0;

}



@media ( width <= 1326){
    #butn{
        background-color: chartreuse;
    text-align: center;
    }
}